@mixin resetSpacing() {
  margin: 0px;
  padding: 0px;
  border: 0px none;
}

@mixin glideUpOnHover() {
  transition: createTransitions((all));
  &:hover {
    transform: translateY(-8px);
    transition: createTransitions((all));
  }
}

@mixin hoverShadow($shadowReg, $shadowHover, $shadowSpreadHover: 8px) {
  box-shadow: 4px 4px 4px $shadowReg;
  transition: createTransitions((all));

  &:hover {
    box-shadow: 6px 6px $shadowSpreadHover $shadowHover;
    transition: createTransitions((all));
  }
}

@mixin genericCard($isGlideUpOnHover: true) {
  background-color: $std-bg-reg;
  border-radius: $border-radius;
  padding: 10px;

  img {
    border-radius: $border-radius;
  }

  // Want card to have shadow on hover
  @include hoverShadow($card-shadow-reg, $card-shadow-hov);

  // Want card to glide up on hover
  @if ($isGlideUpOnHover == true) {
    @include glideUpOnHover();
  }
}