@import 'open-color';

// Generic Variables
// Text
$std-text: $oc-gray-9;
$std-text-underline: $oc-blue-1;
$std-text-underline-active: $oc-blue-2;
$std-text-size: 1.075rem;
$std-text-line-height: 150%;

// Background & Similar
$std-bg-reg: $oc-gray-0;
$std-bg-hov: $oc-gray-1;
$std-shadow-reg: $oc-gray-2;
$std-shadow-hov: $oc-gray-3;

// Color Variables
$team-green: #002400;
$team-white: #d3d3d3;

// Border Radius Variables
$border-radius: 10px;
$border-radius-small: 5px;

// Transitions
$transition-duration: 0.1s;
$transition-timing-fn: ease-in-out;

$mobileWidth: 880px;
@import 'functions';
@import 'mixins';
